@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

@import '~bootstrap/scss/bootstrap.scss';

@import "helpers/helpers";

@import "base/base";

::selection {
  color: lighten($white, 10%);
  background-color: $green;
}

blockquote {
    margin: 15px 0;
    border-left: 5px solid $orange;
    padding: 15px 20px;
    text-align: left;
}
