@import '../../assets/scss/helpers/variables';
@import '../../assets/scss/helpers/mixins';

.footer {
  position: relative;
  height: 100%;
  background-color: $black;
  color: $white;

  &__container {
    padding: 15px;
    @include generateContainer();
  }

  &__block {
    margin-bottom: 0.5rem;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.25rem;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    a {
      color: $white;

      &:hover {
        color: $green;
      }
    }

    p {
      margin: 0.5em 0;
    }
  }

  &__information {
    &__email {
      &-link {
        text-decoration: underline;
      }
    }
  }

  &__categories {
    &__menu {
      &__item {
        padding: .25rem 0;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }

  &__recent-posts {
    &__article {
      margin-bottom: 15px;

      &__title {
        font-weight: 500;
        font-size: 1rem;
        text-transform: capitalize;
      }

      &__published-date {
        font-weight: 300;
        font-size: .75rem;
        color: #A9AABC;

        &-month {
          padding-right: 5px;
          text-transform: uppercase;

        }
      }
    }
  }

  &__social {
    &__list {
      display: inline-grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(5, 1fr);
      justify-items: center;
      align-items: center;

      &__item {
        height: 30px;
        width: 30px;
        padding-right: 10px;
      }

      svg {
        fill: $white;
      }
    }
  }

  &__copyright {
    display: flex;
    &__border {
      border-top: 2px solid $green;
    }

    &.row {
      margin: 0;
    }

    &__container {
      padding: 15px;
      @include generateContainer();

      display: inline-flex;
      width: 100%;
      flex-wrap: wrap;

      span {
        padding-right: 5px;
      }
    }

    p {
      margin: 10px 0 0;
    }

    a {
      color: $orange;

      &:hover, &:focus, &:active {
        text-decoration: underline;
      }
    }
  }

}